<% if(products) { %>
    <div class="row">
            <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
                <ul class="list-group">
                    <% products.forEach(function(item) { %>
                    <li class="list-group-item">
                        <span class="badge float-right"><%= item.qty %></span>
                        <strong><%= item.item.titleProduct %></strong>
                        <span class="label label-success">$ <%= item.price %></span>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Remove items
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a href="/reduce/<%- item.item._id %>" class="dropdown-item" style="color: white"> Reduce by 1</a>
                                <a href="/remove/<%- item.item._id %>" class="dropdown-item" style="color: white"> Remove</a>
                            </div>
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
                <strong>Total: <%= totalPrice %></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
                <button type="button" class="btn btn-success">Checkout</button>
                <button type="button" class="btn btn-success"><a href="/grouplist" style="color: white">Back</a></button>
            </div>
        </div>
<% } else { %>
    <div class="row">
            <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
                <h2>No items in Cart</h2>
            </div>
        </div>
<% } %>

